<div class="card mx-auto" style="max-width: 600px">
  <div class="card-header d-flex justify-content-between pt-3">
    <h3 class="">Lista de unidades de negocio</h3>
    <boton-volver></boton-volver>
  </div>

  <div class="card-body">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unidadNegocio of listaUnidadesDeNegocio">
            <td>
              <a href="reporte-un/{{ unidadNegocio.id }}">{{
                unidadNegocio.nombre
              }}</a>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm pb-0 px-1"
                (click)="borrar(unidadNegocio.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
