<div class="card mx-auto">
  <h2 class="card-header">Nueva unidad de negocio</h2>
  <div class="d-flex justify-content-between flex-row-reverse card-body">
    <a routerLink="/" class="btn">Volver</a>

    <form
      class="container"
      (ngSubmit)="crear()"
      [formGroup]="unidadNegocioFormulario"
      novalidate
      #f="ngForm"
    >
      <div class="row">
        <div class="col">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            aria-label="Nombre"
            formControlName="nombre"
            required
          />
        </div>
      </div>
      <div class="col">
        <button
          class="mt-3 col btn btn-success btn-block my-auto mx-2 btn-small"
          type="submit"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
