<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Reporte empresa</h3>
    <boton-volver></boton-volver>
  </div>
  <div class="card-body">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div></div>

      <button class="btn btn-outline-primary" (click)="cambiarDolar()">
        {{ dolar ? "USD" : "$" }}
      </button>
    </div>

    <dx-tree-list
      id="reporte"
      [dataSource]="reporte"
      itemsExpr="subcategorias"
      dataStructure="tree"
      [showRowLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [hoverStateEnabled]="true"
      (onRowPrepared)="cambiarColorFila($event)"
      (onCellPrepared)="cambiarColorCelda($event)"
    >
      <dxi-column
        [allowSorting]="false"
        dataField="nombre"
        caption="Categoria"
      ></dxi-column>
      <dxi-column
        [allowSorting]="false"
        dataField="acumulado.total"
        format="fixedPoint"
        caption="Total categoria"
      ></dxi-column>

      <dxi-column
        [allowSorting]="false"
        dataField="meses[{{ numeroMes }}].total"
        format="fixedPoint"
        caption="{{ data }}"
        *ngFor="let data of nombreDeMeses; let numeroMes = index"
      ></dxi-column>
    </dx-tree-list>
  </div>
</div>
