<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0 pb-0">Reporte de acumulado de cajas</h3>
    <boton-volver></boton-volver>
  </div>

  <div class="card-body pt-3">
    <div class="grid-responsive mb-3 mx-auto">
      <div class="card" *ngFor="let grupoCaja of reporteAnual">
        <div
          [ngClass]="tipoDeFondo(grupoCaja.acumulado.total)"
          class="card-header cursor-pointer"
          (click)="cambiarColapso(reporteAnual)"
        >
          <p class="mb-0">
            {{ grupoCaja.nombre }}: $
            {{ separarMiles(grupoCaja.acumulado.total) }}
          </p>
        </div>
        <div class="card-body {{ grupoCaja.collapsed ? 'collapse' : '' }}">
          <div
            class="card mb-3"
            *ngFor="let caja of grupoCaja.cajas; let ultimoHijo = last"
          >
            <div class="card-header">
              {{ caja.nombre }}: $ {{ separarMiles(caja.acumulado.total) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <dx-tree-list
      id="reporte"
      [dataSource]="reporteAnual"
      itemsExpr="cajas"
      dataStructure="tree"
      [showRowLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [renderAsync]="true"
      (onCellClick)="mostrarColumnaSemanasPorMes($event)"
      [hoverStateEnabled]="true"
      (onRowPrepared)="cambiarColorFila($event)"
      (onCellPrepared)="cambiarColorCelda($event)"
    >
      <dxi-column
        [allowSorting]="false"
        dataField="nombre"
        caption="Nombre"
      ></dxi-column>
      <dxi-column
        [allowSorting]="false"
        dataField="acumulado.total"
        caption="Total categoria"
        format="fixedPoint"
      ></dxi-column>

      <dxi-column
        [allowSorting]="false"
        [dataField]="nombreDeMeses[numeroMes]"
        caption="{{ data }}"
        *ngFor="let data of nombreDeMeses; let numeroMes = index"
      >
        <dxi-column
          [allowSorting]="false"
          dataField="meses[{{ numeroMes }}].total"
          format="fixedPoint"
          caption="Total"
        ></dxi-column>
        <dxi-column caption="Semanas de {{ nombreDeMeses[numeroMes] }}">
          <dxi-column
            *ngFor="let data of semanas; let numeroSemana = index"
            [allowSorting]="false"
            dataField="meses[{{ numeroMes }}].semanas[{{ numeroSemana }}].total"
            format="fixedPoint"
            [caption]="
              reporteAnual[0].meses[numeroMes].semanas[numeroSemana]?.semana
            "
          ></dxi-column
        ></dxi-column>
      </dxi-column>
      <!-- <dxi-column
          [allowSorting]="false"
          dataField="meses[{{ numeroMes }}].total"
          format="fixedPoint"
          caption="Total"
        ></dxi-column>
        <dxi-column caption="Semanas de {{ nombreDeMeses[numeroMes] }}">
          <dxi-column
            *ngFor="let data of semanas; let numeroSemana = index"
            [allowSorting]="false"
            dataField="meses[{{ numeroMes }}].semanas[{{ numeroSemana }}].total"
            format="fixedPoint"
            [caption]="
              reporte[0]?.meses[numeroMes].semanas[numeroSemana]?.semana
            "
          ></dxi-column>
        </dxi-column>
      </dxi-column> -->
    </dx-tree-list>
  </div>
</div>
