<nav>
  Menu
  <ul style="display: flex">
    <li style="margin: 0 10px"><a routerLink="/">Inicio</a></li>

    <li style="margin: 0 10px">
      <a routerLink="/reporte-un">reporte unidad de negocio</a>
    </li>
    <li style="margin: 0 10px">
      <a routerLink="/reporte-emp">reprote empresa</a>
    </li>
  </ul>
  Movimientos
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/movimiento/lista">Lista</a>
    </li>
    <li style="margin: 0 10px"><a routerLink="/movimiento/nuevo">Nuevo</a></li>
    <li style="margin: 0 10px">
      <a routerLink="/movimiento/detalle/:id">Detalle</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
