<nav class="p-3">
  Menu
  <ul style="display: flex">
    <li style="margin: 0 10px"><a routerLink="/">Inicio</a></li>

    <li style="margin: 0 10px">
      <a routerLink="/reporte-un/9">reporte unidad de negocio</a>
    </li>
    <li style="margin: 0 10px">
      <a routerLink="/reporte-emp/11">reprote empresa</a>
    </li>
  </ul>
  Movimientos
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/movimiento/lista">Lista</a>
    </li>
    <li style="margin: 0 10px"><a routerLink="/movimiento/nuevo">Nuevo</a></li>
    <li style="margin: 0 10px">
      <a routerLink="/movimiento/detalle/:id">Detalle</a>
    </li>
  </ul>
  Cajas
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/caja/lista">Lista</a>
    </li>
    <li style="margin: 0 10px"><a routerLink="/caja/nueva">Nuevo</a></li>
    <li style="margin: 0 10px">
      <a routerLink="/caja/detalle/:id">Detalle</a>
    </li>
  </ul>
  Empresa
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/empresa/lista">Lista</a>
    </li>
    <li style="margin: 0 10px"><a routerLink="/empresa/nueva">Nuevo</a></li>
    <li style="margin: 0 10px">
      <a routerLink="/empresa/detalle/:id">Detalle</a>
    </li>
  </ul>
  Categoria
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/categoria/lista">Lista</a>
    </li>
    <li style="margin: 0 10px"><a routerLink="/categoria/nueva">Nuevo</a></li>
    <li style="margin: 0 10px">
      <a routerLink="/categoria/detalle/:id">Detalle</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
