<nav>
  Menu
  <ul style="display: flex">
    <li style="margin: 0 10px"><a routerLink="/">Inicio</a></li>

    <li style="margin: 0 10px">
      <a routerLink="/reporte-un">reporte unidad de negocio</a>
    </li>
    <li style="margin: 0 10px">
      <a routerLink="/reporte-emp">reprote empresa</a>
    </li>
  </ul>
  CRUD
  <ul style="display: flex">
    <li style="margin: 0 10px">
      <a routerLink="/reporte-un">Movimientos</a>
    </li>
    <li style="margin: 0 10px"><a>Categoria</a></li>
    <li style="margin: 0 10px">
      <a>Unidad De Negocio</a>
    </li>
    <li style="margin: 0 10px">
      <a>Empresa</a>
    </li>
    <li style="margin: 0 10px">
      <a>Caja</a>
    </li>
    <li style="margin: 0 10px">
      <a>Usuario</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
