<div class="card mx-auto" style="max-width: 600px">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Lista de cotizaciones</h3>
    <div>
      <a routerLink="/cotizacion/nueva" class="btn btn-outline-primary"
        >Nueva cotización</a
      >
      <boton-volver></boton-volver>
    </div>
  </div>
  <div class="card-body">
    <dx-data-grid
      id="dataGrid"
      [dataSource]="cotizaciones"
      keyExpr="id"
      (onEditingStart)="preparacionDeEdicion($event)"
      (onSaved)="guardado($event)"
      (onRowRemoved)="borrar($event)"
    >
      <dxo-filter-row
        [visible]="true"
        showAllText="Todos"
        betweenStartText="Desde"
        betweenEndText="Hasta"
        resetOperationText="Borrar"
      >
        <dxo-operation-descriptions
          between="Entre"
          equal="Igual"
          notEqual="Diferente"
          lessThan="Menor a"
          greaterThan="Mayor a"
          lessThanOrEqual="Menor o igual"
          greaterThanOrEqual="Mayor o igual"
          contains="Contiene"
          notContains="No contiene"
          startsWith="Empieza con"
          endsWith="Termina con"
        >
        </dxo-operation-descriptions>
      </dxo-filter-row>
      <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [useIcons]="true"
      ></dxo-editing>
      <dxi-column dataField="valor"></dxi-column>
      <dxi-column
        dataField="fecha"
        dataType="date"
        format="dd/MM/yyyy"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>
