<nav class="">
  <div class="my-3 d-flex justify-content-between">
    <div></div>
    <boton-volver></boton-volver>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="card" style="max-width: 500px">
        <h4 class="card-header">Categorias</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/categoria/lista">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card" style="max-width: 500px">
        <h4 class="card-header">Movimientos</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/movimiento/lista">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="card" style="max-width: 500px">
        <h4 class="card-header">Cajas</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/caja/lista">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card" style="max-width: 500px">
        <h4 class="card-header">Grupo de cajas</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/grupo-caja/lista">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="card" style="max-width: 500px">
        <h4 class="card-header">Transferencia de cajas</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/caja/transferencia/lista">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</nav>
