<div class="card">
  <div class="card-header py-0 px-4">
    <div class="my-3 d-flex justify-content-between">
      <h3 class="mb-0">{{ empresa.nombre }}</h3>
      <a routerLink="/" class="">Volver</a>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="my-3 d-flex justify-content-between">
      <div></div>
      <div>
        <button
          routerLink="/admin"
          class="btn btn-outline-primary text-blue me-2"
        >
          Panel de admin
        </button>
        <button
          routerLink="/unidad-negocio/lista"
          class="btn btn-outline-primary text-blue me-2"
        >
          Unidades de negocio
        </button>
        <button routerLink="/movimiento/nuevo" class="btn btn-outline-primary">
          Crear movimiento
        </button>
      </div>
    </div>
    <div class="grid-responsive mb-3 mx-auto">
      <div class="card" *ngFor="let grupoCaja of grupoCajas">
        <div
          [ngClass]="tipoDeFondo(grupoCaja.acumulado.total)"
          class="card-header cursor-pointer"
          (click)="cambiarColapso(grupoCajas)"
        >
          <p class="mb-0">
            {{ grupoCaja.nombre }}:
            {{ separarMiles(grupoCaja.acumulado.total) }}
          </p>
        </div>
        <div class="card-body {{ grupoCaja.collapsed ? 'collapse' : '' }}">
          <div
            class="card mb-3"
            *ngFor="let caja of grupoCaja.cajas; let ultimoHijo = last"
          >
            <div class="card-header">
              {{ caja.nombre }}: {{ separarMiles(caja.total) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <reporte-emp></reporte-emp>
  </div>
</div>
