<div class="card">
  <div class="card-header py-0 px-4">
    <div class="my-3 d-flex justify-content-between">
      <h3 class="mb-0">{{ empresa.nombre }}</h3>
      <a routerLink="/" class="">Volver</a>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="my-3 d-flex justify-content-between">
      <button routerLink="/admin" class="btn btn-primary text-white">
        Panel de admin
      </button>
      <a routerLink="/movimiento/nuevo" class="btn btn-outline-primary"
        >Crear movimiento</a
      >
    </div>
    <div class="grid-responsive mb-3 mx-auto">
      <div class="card" *ngFor="let grupoCaja of grupoCajas">
        <div
          [ngClass]="tipoDeFondo(grupoCaja.acumulado.total)"
          class="card-header text-white"
        >
          <p class="mb-0">
            {{ grupoCaja.nombre }}: {{ grupoCaja.acumulado.total }}
          </p>
        </div>
        <div class="card-body">
          <div
            class="card mb-3 text-white"
            *ngFor="let caja of grupoCaja.cajas; let ultimoHijo = last"
            [ngClass]="tipoDeFondo(caja.total, ultimoHijo)"
          >
            <div class="card-header">{{ caja.nombre }}: {{ caja.total }}</div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <reporte-emp></reporte-emp>
  </div>
</div>
