<div class="card">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" routerLink="/">TQR</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="card-header py-0 px-4">
    <div
      class="my-3 d-flex justify-content-between justify-content-end flex-wrap"
    >
      <h3 class="mb-0">{{ empresa.nombre }}</h3>
      <div class="ms-auto">
        <button
          routerLink="/admin"
          class="btn btn-outline-primary text-blue me-2"
        >
          Panel de admin
        </button>
        <button
          routerLink="/unidad-negocio/lista"
          class="btn btn-outline-primary text-blue me-2"
        >
          Unidades de negocio
        </button>
        <button
          routerLink="/movimiento/nuevo"
          class="btn btn-outline-primary me-2"
        >
          Crear movimiento
        </button>
        <a routerLink="/" class="">Volver</a>
      </div>
    </div>
  </div>
  <div class="card-body pt-3">
    <div class="grid-responsive mb-3 mx-auto">
      <div class="card" *ngFor="let grupoCaja of grupoCajas">
        <div
          [ngClass]="tipoDeFondo(grupoCaja.acumulado.total)"
          class="card-header cursor-pointer"
          (click)="cambiarColapso(grupoCajas)"
        >
          <p class="mb-0">
            {{ grupoCaja.nombre }}:
            {{ separarMiles(grupoCaja.acumulado.total) }}
          </p>
        </div>
        <div class="card-body {{ grupoCaja.collapsed ? 'collapse' : '' }}">
          <div
            class="card mb-3"
            *ngFor="let caja of grupoCaja.cajas; let ultimoHijo = last"
          >
            <div class="card-header">
              {{ caja.nombre }}: {{ separarMiles(caja.total) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <reporte-emp></reporte-emp>
  </div>
</div>
