.last_child{
  margin-bottom: 0 !important;
}
.cero{
  background-color: white;
  color: black;
}
.negativo{
  background-color: red;
  color: white;
}
.positivo{
  background-color: #00ad00;
  color: white;
}
