<h2>Detalle caja</h2>

<div class="my-3 d-flex justify-content-between">
  <div></div>
  <boton-volver></boton-volver>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Negativa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ caja.id }}</td>
        <td>{{ caja.nombre }}</td>
        <td>{{ caja.negativa ? "Si" : "No" }}</td>
      </tr>
    </tbody>
  </table>
</div>
