<h2>Lista de cajas</h2>

<div class="my-3 d-flex justify-content-between">
  <div></div>
  <a routerLink="/" class="btn">Volver</a>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Grupo de cajas</th>
        <th scope="col">Nombre</th>
        <th scope="col">Negativa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let caja of cajas">
        <td>{{ caja.id }}</td>
        <td>{{ caja.grupoCaja.nombre }}</td>
        <td>{{ caja.nombre }}</td>
        <td>{{ caja.negativa ? "Si" : "No" }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm pb-0 px-1"
            (click)="borrar(caja.id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
