<h2>Nueva caja</h2>

<div class="my-3 d-flex justify-content-between">
  <div></div>
  <a routerLink="/" class="btn">Volver</a>
</div>
<form
  class="container"
  style="max-width: 600px"
  (ngSubmit)="crear()"
  [formGroup]="cajaFormulario"
  novalidate
  #f="ngForm"
>
  <div class="row">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        formControlName="nombre"
        required
      />
    </div>
    <div class="col">
      <label for="nombre">Acepta negativos?</label>
      <select
        name="negativa"
        formControlName="negativa"
        class="form-control"
        id=""
      >
        <option [value]="true" [selected]="true">Si</option>
        <option [value]="false">No</option>
      </select>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="nombre">Unidad de negocio</label>
        <select
          name="idUnidadNegocio"
          formControlName="idUnidadNegocio"
          id=""
          class="form-control"
        >
          <option
            *ngFor="let unidad of unidadesNegocio"
            value="{{ unidad.id }}"
          >
            {{ unidad.nombre }}
          </option>
        </select>
      </div>
      <div class="col">
        <button
          class="mt-3 ms-3 btn btn-success btn-block col mx-2 btn-small"
          type="submit"
        >
          Crear
        </button>
      </div>
    </div>
  </div>
</form>
