<div class="card mx-auto" style="max-width: 600px">
  <div class="card-header d-flex justify-content-between">
    <h2 class="mb-0">Transferencia entre cajas</h2>
    <a routerLink="/" class="btn mb-0 pb-0">Volver</a>
  </div>
  <div class="card-body py-0">
    <div class="my-3 d-flex justify-content-between">
      <form
        class="container"
        novalidate
        #f="ngForm"
        (ngSubmit)="crear()"
        [formGroup]="formularioTransferencia"
      >
        <div class="row mb-3">
          <label for="nombre">Caja origen</label>
          <select
            name="idCajaOrigen"
            formControlName="idCajaOrigen"
            class="form-control"
            id=""
          >
            <option value=""></option>
            <option
              *ngFor="let caja of quitarCajaSeleccionada('Destino')"
              value="{{ caja.id }}"
            >
              {{ caja.nombre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="nombre">Caja destino</label>
          <select
            name="idCajaDestino"
            formControlName="idCajaDestino"
            class="form-control"
            id=""
          >
            <option value=""></option>
            <option
              *ngFor="let caja of quitarCajaSeleccionada('Origen')"
              value="{{ caja.id }}"
            >
              {{ caja.nombre }}
            </option>
          </select>
        </div>
        <div class="row mb-3">
          <label for="monto">Monto</label>
          <input
            type="text"
            placeholder="Monto"
            aria-label="Monto"
            name="monto"
            class="form-control"
            formControlName="monto"
            mask="separator"
            thousandSeparator="."
          />
        </div>
        <div class="d-flex justify-content-between">
          <div></div>
          <button class="btn btn-outline-primary mt-2" type="submit">
            Transferir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
