<div class="card">
  <h2 class="card-header">Nueva caja</h2>
  <div class="card-body">
    <div class="my-3 d-flex flex-row-reverse justify-content-between">
      <div></div>
      <a routerLink="/" class="btn">Volver</a>

      <form
        class="container"
        style="max-width: 600px"
        (ngSubmit)="crear()"
        [formGroup]="cajaFormulario"
        novalidate
        #f="ngForm"
      >
        <div class="row">
          <div class="col">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              aria-label="Nombre"
              formControlName="nombre"
              required
            />
          </div>
          <div class="col">
            <label for="nombre">Acepta negativos?</label>
            <select
              name="negativa"
              formControlName="negativa"
              class="form-control"
              id=""
            >
              <option [value]="true" [selected]="true">Si</option>
              <option [value]="false">No</option>
            </select>
          </div>
          <div class="col">
            <button
              class="mt-3 ms-3 btn btn-success btn-block col mx-2 btn-small"
              type="submit"
            >
              Crear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
