<h2>Nueva caja</h2>

<div class="my-3 d-flex justify-content-between">
  <div></div>
  <a routerLink="/" class="btn">Volver</a>
</div>
<form
  class="container"
  style="max-width: 600px"
  (ngSubmit)="crear()"
  [formGroup]="cajaFormulario"
  novalidate
  #f="ngForm"
>
  <div class="row">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        formControlName="nombre"
        required
      />
    </div>
    <div class="col">
      <label for="nombre">Acepta negativos?</label>
      <select name="negativa" class="form-control" id="">
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="nombre">Unidad de negocio</label>
        <input
          type="number"
          class="form-control"
          placeholder="Wallas"
          aria-label="ID Unidad de negocio"
          [disabled]="true"
        />
      </div>
      <button
        class="col btn btn-success btn-block col mx-2 btn-small"
        type="submit"
      >
        Crear
      </button>
    </div>
  </div>
</form>
