<div class="card d-block">
  <h3 class="card-header">Reporte de transferencias entre cajas</h3>
  <div class="card-body pt-3 mx-auto">
    <div class="grid-responsive mb-3">
      <div class="card" *ngFor="let grupoCaja of grupoCajas">
        <div
          [ngClass]="tipoDeFondo(grupoCaja.acumulado.total)"
          class="card-header cursor-pointer"
          (click)="cambiarColapso(grupoCajas)"
        >
          <p class="mb-0">
            {{ grupoCaja.nombre }}:
            {{ separarMiles(grupoCaja.acumulado.total) }}
          </p>
        </div>
        <div class="card-body {{ grupoCaja.collapsed ? 'collapse' : '' }}">
          <div
            class="card mb-3"
            *ngFor="let caja of grupoCaja.cajas; let ultimoHijo = last"
          >
            <div class="card-header">
              {{ caja.nombre }} <strong>{{ caja.id }}:</strong>
              {{ separarMiles(caja.acumulado.total) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-tree-list
  id="reporte"
  [dataSource]="reporte"
  itemsExpr="subcategorias"
  dataStructure="tree"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [hoverStateEnabled]="true"
  (onRowPrepared)="cambiarColorFila($event)"
  (onCellPrepared)="cambiarColorCelda($event)"
>
  <dxi-column [allowSorting]="false" dataField="nombre"></dxi-column>
  <dxi-column
    [allowSorting]="false"
    dataField="acumulado.total"
    format="fixedPoint"
  ></dxi-column>

  <dxi-column
    [allowSorting]="false"
    dataField="meses[{{ numeroMes }}].total"
    format="fixedPoint"
    caption="{{ data }}"
    *ngFor="let data of nombreDeMeses; let numeroMes = index"
  ></dxi-column>
</dx-tree-list>
