<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Lista de categorias</h3>
    <div>
      <a routerLink="/categoria/nueva" class="btn btn-outline-primary"
        >Nueva categoria</a
      >
      <boton-volver></boton-volver>
    </div>
  </div>
  <div class="card-body">
    <dx-tree-list
      id="dataGrid"
      [dataSource]="categorias"
      keyExpr="id"
      parentIdExpr="idCategoriaPadre"
      (onEditingStart)="preparacionDeEdicion($event)"
      (onSaved)="guardado($event)"
      (onRowRemoved)="borrar($event)"
      [hoverStateEnabled]="true"
      (onEditorPreparing)="validarEdicion($event)"
    >
      <dxo-filter-row [visible]="true" showAllText="Todos"></dxo-filter-row>
      <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [useIcons]="true"
      ></dxo-editing>
      <dxi-column dataField="nombre"></dxi-column>
      <dxi-column dataField="tipo" [customizeText]="cambiarTipo">
        <dxo-lookup [dataSource]="tipo" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="isGeneral" caption="Es general"> </dxi-column>
    </dx-tree-list>
  </div>
</div>
