<h2>Lista de categorias</h2>
<div class="my-3 d-flex justify-content-between">
  <div></div>
  <div>
    <a routerLink="/categoria/nueva" class="btn btn-outline-primary"
      >Nueva categoria</a
    >
    <a routerLink="/" class="btn">Volver</a>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Es General</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.tipo === "in" ? "Ingreso" : "Egreso" }}</td>
        <td>{{ categoria.isGeneral ? "Si" : "No" }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm pb-0 px-1"
            (click)="borrar(categoria.id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
