<h2>Nueva de categoria</h2>

<div class="my-3 d-flex justify-content-between">
  <div></div>
  <a routerLink="/" class="btn">Volver</a>
</div>
<form
  class="container"
  style="max-width: 600px"
  (ngSubmit)="crear()"
  [formGroup]="categoriaFormulario"
  novalidate
  #f="ngForm"
>
  <div class="row mt-3">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col">
      <label for="nombre">Tipo de categoria</label>
      <select
        name="tipo"
        id=""
        class="form-control"
        formControlName="tipo"
        (change)="cambioEnTipo($event)"
      >
        <option value="in" [defaultSelected]="true">Ingreso</option>
        <option value="out">Egreso</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="nombre">Empresa</label>
      <select name="idEmpresa" formControlName="idEmpresa" class="form-control">
        <option
          *ngFor="let empresa of listaEmpresa; index as i"
          value="{{ empresa.id }}"
        >
          {{ empresa.nombre }}
        </option>
      </select>
    </div>
    <div class="col">
      <label for="nombre">Categoria padre</label>
      <p class="form-control">{{ categoriaSeleccionadaNombre }}</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" *ngIf="!!categoriaSeleccionadaNombre">
      <label for="nombre">Es general?</label>
      <select name="isGeneral" class="form-control" formControlName="isGeneral">
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="col mt-3">
      <button
        class="col btn btn-success btn-block col mx-2 btn-small"
        type="submit"
        [disabled]="categoriaFormulario.invalid"
      >
        Crear
      </button>
    </div>
  </div>
</form>
<br />
<div class="my-3 d-flex justify-content-between">
  <div id="tree-list-demo">
    <dx-tree-list
      id="listaCategorias"
      [dataSource]="listaCategorias[tipo]"
      itemsExpr="subcategorias"
      dataStructure="tree"
      [showRowLines]="true"
      [showBorders]="true"
      (onCellClick)="selccionarCategoria($event)"
      [autoExpandAll]="true"
      [hoverStateEnabled]="true"
      width="500"
    >
      <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
      <dxi-column dataField="isGeneral" caption="Es general?"></dxi-column>
    </dx-tree-list>
  </div>
  <div>
    <button class="btn btn-danger" (click)="borrarCategoriaPadre()">
      Borrar categoria padre
    </button>
  </div>
</div>
