<div class="card mx-auto" style="max-width: 600px">
  <div class="card-header d-flex justify-content-between">
    <h2 class="mb-0">Nueva categoria</h2>
    <boton-volver></boton-volver>
  </div>
  <div class="card-body">
    <form
      class="container"
      style="max-width: 600px"
      (ngSubmit)="crear()"
      [formGroup]="categoriaFormulario"
      novalidate
      #f="ngForm"
    >
      <div class="row mt-3">
        <div class="col">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            aria-label="Nombre"
            formControlName="nombre"
          />
        </div>
        <div class="col">
          <label for="nombre">Tipo de categoria</label>
          <select
            name="tipo"
            id=""
            class="form-control"
            formControlName="tipo"
            (change)="cambioEnTipo()"
          >
            <option value="in" [defaultSelected]="true">Ingreso</option>
            <option value="out">Egreso</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="nombre">Categoria padre</label><br />
          <div class="d-flex">
            <p class="form-control">{{ categoriaSeleccionadaNombre }}</p>

            <button
              (click)="borrarCategoriaPadre()"
              class="btn btn-danger mb-3 ms-2"
              type="button"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div *ngIf="categoriaSeleccionadaNombre == '-'">
            <label for="nombre">Es general?</label>
            <select
              name="isGeneral"
              class="form-control"
              formControlName="isGeneral"
            >
              <option value="true" [selected]="true">Si</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-block btn-small" type="submit">
            Crear
          </button>
        </div>
      </div>
      <br />
      <h4></h4>
      <div class="scroll-x">
        <div>
          <h5>Generales</h5>
          <div id="tree-list-demo">
            <dx-tree-list
              id="listaCategorias"
              [dataSource]="listaCategorias[0]"
              itemsExpr="subcategorias"
              dataStructure="tree"
              [showRowLines]="true"
              [showBorders]="true"
              (onCellClick)="selccionarCategoria($event)"
              [hoverStateEnabled]="true"
              width="250"
            >
              <dxo-filter-row
                [visible]="true"
                showAllText="Todos"
                resetOperationText="Borrar"
              >
                <dxo-operation-descriptions
                  equal="Igual"
                  notEqual="Diferente"
                  contains="Contiene"
                  notContains="No contiene"
                  startsWith="Empieza con"
                  endsWith="Termina con"
                >
                </dxo-operation-descriptions>
              </dxo-filter-row>
              <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
            </dx-tree-list>
          </div>
        </div>
        <div>
          <h5>No generales</h5>
          <div id="tree-list-demo">
            <dx-tree-list
              id="listaCategorias"
              [dataSource]="listaCategorias[1]"
              itemsExpr="subcategorias"
              dataStructure="tree"
              [showRowLines]="true"
              [showBorders]="true"
              (onCellClick)="selccionarCategoria($event)"
              [hoverStateEnabled]="true"
              width="250"
            >
              <dxo-filter-row
                [visible]="true"
                showAllText="Todos"
                resetOperationText="Borrar"
              >
                <dxo-operation-descriptions
                  equal="Igual"
                  notEqual="Diferente"
                  contains="Contiene"
                  notContains="No contiene"
                  startsWith="Empieza con"
                  endsWith="Termina con"
                >
                </dxo-operation-descriptions>
              </dxo-filter-row>
              <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
            </dx-tree-list>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
