<h1>Carga Categoria</h1>
<form
  class="container"
  style="max-width: 600px"
  (ngSubmit)="crear()"
  [formGroup]="categoriaFormulario"
  novalidate
  #f="ngForm"
>
  <div class="row mt-3">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col">
      <label for="nombre">Tipo de categoria</label>
      <select name="tipo" id="" class="form-control" formControlName="tipo">
        <option value="in">Ingreso</option>
        <option value="out">Egreso</option>
      </select>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="nombre">Empresa</label>
        <select
          name="idEmpresa"
          formControlName="idEmpresa"
          class="form-control"
        >
          <option
            *ngFor="let empresa of listaEmpresa; index as i"
            value="{{ empresa.id }}"
          >
            {{ empresa.nombre }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="nombre">Categoria padre</label>
        <select
          class="form-control"
          placeholder="Categoria padre"
          aria-label="Categoria padre"
          formControlName="idCategoriaPadre"
        >
          <option value="0">Sin categoria padre</option>
          <option
            *ngFor="let categoria of listaCategorias; let i = index"
            value="{{ categoria.id }}"
          >
            {{ categoria.nombre }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="nombre">Orden</label>
        <input
          type="number"
          class="form-control"
          placeholder="Orden"
          aria-label="Orden"
          min="1"
          formControlName="orden"
        />
      </div>
      <div class="col">
        <label for="nombre">Es general?</label>
        <select
          name="isGeneral"
          class="form-control"
          formControlName="isGeneral"
        >
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
    <div class="col mt-4">
      <button
        class="col btn btn-success btn-block col mx-2 btn-small"
        type="submit"
        [disabled]="categoriaFormulario.invalid"
      >
        Crear
      </button>
    </div>
  </div>
</form>
