<h2>Detalle de movimiento</h2>
<div class="my-3 d-flex justify-content-between">
  <div></div>
  <boton-volver></boton-volver>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Caja</th>
        <th scope="col">Categoria</th>
        <th scope="col">Detalle</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ movimiento.id }}</td>
        <td>{{ movimiento.caja.nombre }}</td>
        <td>{{ movimiento.categoria.nombre }}</td>
        <td>{{ movimiento.detalle }}</td>
        <td>{{ movimiento.monto }}</td>
        <td>{{ parsearFecha(movimiento.fecha) }}</td>
        <td>{{ movimiento.categoria.tipo }}</td>
      </tr>
    </tbody>
  </table>
</div>
