<h2>Lista de movimientos</h2>
<div class="my-3 d-flex justify-content-between">
  <a routerLink="/" class="btn">Volver</a>
  <a routerLink="/movimiento/nuevo" class="btn btn-outline-primary"
    >Crear movimiento</a
  >
</div>

<div class="container">
  <!--  <form
    class="container"
    style="max-width: 600px"
    (ngSubmit)="filtrarMovimientos()"
    [formGroup]="movimientosForm"
    novalidate
    #f="ngForm"
  >
    <div class="row">
      <div class="col">
        <label for="">Desde</label>
        <input
          type="date"
          class="col form-control"
          name="fechaInicio"
          formControlName="fechaInicio"
          id=""
        />
      </div>
      <div class="col">
        <label for="">Hasta</label>
        <input
          type="date"
          class="col form-control"
          name="fechaFin"
          formControlName="fechaFin"
          id=""
        />
      </div>
      <div class="col">
        <button class="mt-3 btn btn-primary">Filtrar</button>
      </div>
    </div>
  </form> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Caja</th>
        <th scope="col">Categoria</th>
        <th scope="col">Detalle</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimiento of movimientos">
        <td>{{ movimiento.id }}</td>
        <td>{{ movimiento.caja.nombre }}</td>
        <td>{{ movimiento.categoria.nombre }}</td>
        <td>{{ movimiento.detalle }}</td>
        <td>{{ movimiento.monto }}</td>
        <td>{{ parsearFecha(movimiento.fecha) }}</td>
        <td>{{ movimiento.categoria.tipo == "in" ? "Ingreso" : "Egreso" }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm pb-0 px-1"
            (click)="borrar(movimiento.id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
