<div class="card">
  <h3 class="card-header">Lista de movimientos</h3>
  <div class="card-body">
    <div class="my-3 d-flex justify-content-between">
      <div></div>
      <div>
        <a routerLink="/movimiento/nuevo" class="btn btn-outline-primary"
          >Crear movimiento</a
        >
        <boton-volver></boton-volver>
      </div>
    </div>
    <div class="container">
      <form
        class="container mb-3"
        style="max-width: 600px"
        (ngSubmit)="filtrarMovimientos()"
        [formGroup]="movimientosForm"
        novalidate
        #f="ngForm"
      >
        <div class="row">
          <div class="col">
            <label for="">Desde</label>
            <input
              type="date"
              class="col form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              id=""
            />
          </div>
          <div class="col">
            <label for="">Hasta</label>
            <input
              type="date"
              class="col form-control"
              name="fechaFin"
              formControlName="fechaFin"
              id=""
            />
          </div>
          <div class="col">
            <button class="mt-3 btn btn-primary">Filtrar</button>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Fecha del movimiento</th>
              <th
                class="cursor-pointer"
                scope="col"
                (click)="ordenarCampo('caja')"
              >
                Caja
              </th>
              <th
                class="cursor-pointer"
                scope="col"
                (click)="ordenarCampo('categoria')"
              >
                Categoria
              </th>
              <th scope="col">Detalle</th>
              <th
                class="cursor-pointer"
                scope="col"
                (click)="ordenarCampo('monto')"
              >
                Monto
              </th>
              <th
                class="cursor-pointer"
                scope="col"
                (click)="ordenarCampo('tipo')"
              >
                Tipo
              </th>
              <th scope="col">Fecha de creacion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movimiento of movimientos">
              <td>{{ parsearFecha(movimiento.fecha) }}</td>
              <td>{{ movimiento.caja.nombre }}</td>
              <td>{{ movimiento.categoria.nombre }}</td>
              <td>{{ movimiento.detalle }}</td>
              <td>{{ separarMiles(movimiento.monto) }}</td>
              <td>
                {{ movimiento.categoria.tipo == "in" ? "Ingreso" : "Egreso" }}
              </td>
              <td>{{ parsearFecha(movimiento.fechaCreacion) }}</td>
              <td>
                <button
                  class="btn btn-danger btn-sm pb-0 px-1"
                  (click)="borrar(movimiento.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
