<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h2 class="">Lista de movimientos</h2>
    <boton-volver></boton-volver>
  </div>
  <div class="card-body">
    <div class="my-3 d-flex justify-content-between">
      <div></div>
      <div>
        <a routerLink="/movimiento/nuevo" class="btn btn-outline-primary"
          >Crear movimiento</a
        >
      </div>
    </div>
    <div class="container">
      <form
        class="container mb-3"
        (ngSubmit)="filtrarMovimientos()"
        [formGroup]="movimientosForm"
        novalidate
        #f="ngForm"
      >
        <div class="row">
          <div class="col">
            <label for="">Caja</label>
            <select
              class="form-control"
              name="idCaja"
              formControlName="idCaja"
              id=""
            >
              <option value="{{ undefined }}"></option>
              <option *ngFor="let caja of cajas" value="{{ caja.id }}">
                {{ caja.nombre }}
              </option>
            </select>
          </div>
          <div class="col">
            <label for="">Tipo</label>
            <select
              class="form-control"
              name="tipo"
              formControlName="tipo"
              id=""
            >
              <option value="{{ undefined }}"></option>
              <option value="'in'">Ingreso</option>
              <option value="'out'">Egreso</option>
            </select>
          </div>
          <div class="col">
            <label for="">Desde</label>
            <input
              type="date"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              id=""
            />
          </div>
          <div class="col">
            <label for="">Hasta</label>
            <input
              type="date"
              class="col form-control"
              name="fechaFin"
              formControlName="fechaFin"
              id=""
            />
          </div>
          <div class="col">
            <button class="mt-3 btn btn-primary">Filtrar</button>
          </div>
        </div>
      </form>
      <dx-data-grid
        id="dataGrid"
        [dataSource]="movimientos"
        keyExpr="id"
        (onEditingStart)="preparacionDeEdicion($event)"
        (onSaved)="guardado($event)"
        (onRowRemoved)="borrar($event)"
      >
        <dxo-editing
          mode="row"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [useIcons]="true"
        ></dxo-editing>
        <dxi-column
          dataField="fecha"
          dataType="date"
          format="dd/MM/yyyy"
        ></dxi-column>

        <dxi-column
          dataField="caja.id"
          caption="Caja"
          [calculateDisplayValue]="mostrarCaja"
        >
          <dxo-lookup [dataSource]="cajas" displayExpr="nombre" valueExpr="id">
          </dxo-lookup
        ></dxi-column>

        <dxi-column
          dataField="categoria.id"
          [calculateDisplayValue]="mostrarCategoria"
          caption="Categoria"
        >
          <dxo-lookup
            [dataSource]="categorias"
            displayExpr="nombre"
            valueExpr="id"
          >
          </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="detalle"></dxi-column>

        <dxi-column
          dataField="monto"
          [customizeText]="separarMiles"
        ></dxi-column>

        <dxi-column
          dataField="categoria.tipo"
          [allowEditing]="false"
          [customizeText]="mostrarTipo"
        ></dxi-column>

        <dxi-column
          dataField="fechaCreacion"
          dataType="date"
          format="dd/MM/yyyy"
          [allowEditing]="false"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
