<h2>Carga Movimientos</h2>
<div class="my-3 d-flex justify-content-between">
  <div></div>
  <a routerLink="/" class="btn">Volver</a>
</div>
<form
  class="container"
  style="max-width: 600px"
  (ngSubmit)="crear()"
  novalidate
  #f="ngForm"
>
  <div class="row">
    <div class="col">
      <label for="categoria">Categoria</label>
      <p class="form-control">{{ categoriaSeleccionadaNombre }}</p>
    </div>
    <div class="col">
      <label for="Caja">Caja</label>
      <select name="idCaja" id="" class="form-control" [(ngModel)]="idCaja">
        <option *ngFor="let caja of cajas" value="{{ caja.id }}">
          {{ caja.nombre }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="Detalle">Detalle</label>
      <input
        type="text"
        class="form-control"
        name="detalle"
        placeholder="Detalle"
        aria-label="Detalle"
        [(ngModel)]="detalle"
      />
    </div>
    <div class="col">
      <label for="monto">Monto</label>
      <input
        type="number"
        class="form-control"
        name="monto"
        placeholder="Monto"
        aria-label="Monto"
        [(ngModel)]="monto"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="Fecha">Fecha</label>
      <input
        type="date"
        class="form-control"
        name="fecha"
        placeholder="Fecha"
        aria-label="Fecha"
        [(ngModel)]="fecha"
      />
    </div>
    <div class="col">
      <label for="Usuario">Usuario</label>
      <input
        type="number"
        class="form-control"
        name="idUsuario"
        placeholder="Raul"
        aria-label="Usuario"
        disabled="true"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="Unidad De Negocio">Unidad De Negocio</label>
      <select
        name="idUnidadNegocio"
        id=""
        class="form-control"
        [(ngModel)]="idUnidadNegocio"
      >
        <option
          *ngFor="let unidad of unidadesDeNegocio"
          value="{{ unidad.id }}"
        >
          {{ unidad.nombre }}
        </option>
      </select>
    </div>
    <button class="btn btn-success btn-block col mx-2 btn-small" type="submit">
      Crear
    </button>
  </div>
  <hr />

  <h4>Seleccione una categoria</h4>
  <div id="tree-list-demo">
    <dx-tree-list
      id="listaCategorias"
      [dataSource]="categorias"
      itemsExpr="subcategorias"
      dataStructure="tree"
      [showRowLines]="true"
      [showBorders]="true"
      [autoExpandAll]="true"
      (onCellClick)="selccionarCategoria($event)"
      [hoverStateEnabled]="true"
      width="500"
    >
      <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
      <dxi-column dataField="isGeneral" caption="Es general?"></dxi-column>
    </dx-tree-list>
  </div>
</form>
