<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Carga Movimientos</h3>
    <boton-volver></boton-volver>
  </div>
  <div class="card-body pt-0">
    <form
      class="container"
      style="max-width: 600px"
      (ngSubmit)="crear()"
      novalidate
      [formGroup]="movimientoFormulario"
      #f="ngForm"
    >
      <div class="row mt-3">
        <div class="col">
          <label for="categoria">Categoria</label>
          <p class="form-control">{{ categoriaSeleccionadaNombre }}</p>
        </div>
        <div class="col">
          <label for="Caja">Caja</label>
          <select
            name="idCaja"
            id=""
            class="form-control"
            formControlName="idCaja"
          >
            >
            <option value="">Seleccione una caja</option>
            <option *ngFor="let caja of cajas" value="{{ caja.id }}">
              {{ caja.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="Fecha">Fecha</label>
          <input
            type="date"
            class="form-control"
            name="fecha"
            aria-label="Fecha"
            formControlName="fecha"
          />
        </div>
        <div class="col">
          <label for="monto">Monto</label>
          <input
            type="text"
            placeholder="Monto"
            aria-label="Monto"
            name="monto"
            class="form-control"
            formControlName="monto"
            mask="separator"
            thousandSeparator="."
          />
          <small class="mb-0" *ngIf="cotizacionDeLaFecha"
            >Cotizacion: {{ cotizacionDeLaFecha.valor }}, Dolares:
            {{ montoEnDolares() }}</small
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="Detalle">Detalle</label>
          <input
            type="text"
            class="form-control"
            name="detalle"
            placeholder="Detalle"
            aria-label="Detalle"
            formControlName="detalle"
          />
        </div>
        <div *ngIf="isGeneral === 'false'" class="col">
          <label for="Unidad De Negocio">Unidad De Negocio</label>
          <select
            name="idUnidadNegocio"
            formControlName="idUnidadNegocio"
            class="form-control"
          >
            <option *ngIf="unidadesDeNegocio.length > 1" value="">
              Seleccione una unidad de negocio
            </option>
            <option
              *ngFor="let unidad of unidadesDeNegocio"
              value="{{ unidad.id }}"
            >
              {{ unidad.nombre }}
            </option>
          </select>
        </div>
        <!-- <div class="col">
          <label for="Usuario">Usuario</label>
          <select
            name="idUsuario"
            class="form-control"
            formControlName="idUsuario"
          >
            >
            <option *ngIf="usuarios.length > 1" value="">
              Seleccione una unidad de negocio
            </option>
            <option *ngFor="let usuario of usuarios" value="{{ usuario.id }}">
              {{ usuario.nombreCompleto }}
            </option>
          </select>
        </div> -->
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary btn-block mt-3 btn-small"
            type="submit"
          >
            Crear
          </button>
        </div>
      </div>
      <hr />
    </form>
    <h4>Seleccione una categoria</h4>
    <div class="scroll-h mx-auto">
      <div>
        <h5>Egresos - Generales</h5>
        <div id="tree-list-demo">
          <dx-tree-list
            id="listaCategorias"
            [dataSource]="categorias[categoriasIndice.out_general]"
            itemsExpr="subcategorias"
            dataStructure="tree"
            [showRowLines]="true"
            [showBorders]="true"
            (onCellClick)="selccionarCategoria($event)"
            [hoverStateEnabled]="true"
            [autoExpandAll]="true"
            [columnAutoWidth]="true"
          >
            <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
          </dx-tree-list>
        </div>
      </div>
      <div class="ms-4">
        <h5>Egresos - No generales</h5>
        <div id="tree-list-demo">
          <dx-tree-list
            id="listaCategorias"
            [dataSource]="categorias[categoriasIndice.out_especificas]"
            itemsExpr="subcategorias"
            dataStructure="tree"
            [showRowLines]="true"
            [showBorders]="true"
            (onCellClick)="selccionarCategoria($event)"
            [hoverStateEnabled]="true"
            [autoExpandAll]="true"
            [columnAutoWidth]="true"
          >
            <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
          </dx-tree-list>
        </div>
      </div>
      <div class="ms-4">
        <h5>Ingresos - Generales</h5>
        <div id="tree-list-demo">
          <dx-tree-list
            id="listaCategorias"
            [dataSource]="categorias[categoriasIndice.in_general]"
            itemsExpr="subcategorias"
            dataStructure="tree"
            [showRowLines]="true"
            [showBorders]="true"
            (onCellClick)="selccionarCategoria($event)"
            [hoverStateEnabled]="true"
            [autoExpandAll]="true"
            [columnAutoWidth]="true"
          >
            <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
          </dx-tree-list>
        </div>
      </div>
      <div class="ms-4">
        <h5>Ingreso - No generales</h5>
        <div id="tree-list-demo">
          <dx-tree-list
            id="listaCategorias"
            [dataSource]="categorias[categoriasIndice.in_especificas]"
            itemsExpr="subcategorias"
            dataStructure="tree"
            [showRowLines]="true"
            [showBorders]="true"
            (onCellClick)="selccionarCategoria($event)"
            [hoverStateEnabled]="true"
            [autoExpandAll]="true"
            [columnAutoWidth]="true"
          >
            <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
          </dx-tree-list>
        </div>
      </div>
    </div>
  </div>
</div>
